.signin-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.login-form {
    width: 100%;
    max-width: 650px;
    height: 400px;
    margin-top: 6%;
    border-radius: 20px;
    mix-blend-mode: normal;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    background: #a659fd10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-form h3 {
    margin: 30px 0;
    font-size: 40px;
}

.login-form .login {
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.login-form .login p {
    font-size: 30px;
}

.login-form .login input {
    height: 45px;
    margin-left: 20px;
    font-size: 25px;
    width: 100%;
    max-width: 350px;
    border: none;
    padding: 0 10px;
    border-radius: 12px;

    background: #ffffff3e;
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.2s;
}

.login-form .login input:hover {
    background: #ffffffac;
    mix-blend-mode: soft-light;
    color: black;
    border: none;
}

.login-form .login input:focus {
    background: white;
    mix-blend-mode: soft-light;
    color: black;
}

.login-form .pswd {
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.login-form .pswd p {
    font-size: 30px;
}

.login-form .pswd input {
    color: white;

    height: 45px;
    margin-left: 20px;
    font-size: 25px;
    width: 100%;
    max-width: 350px;
    border: none;
    padding: 0 10px;
    border-radius: 12px;

    background: #ffffff3e;
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.2s;
}

.login-form .pswd input:hover {
    background: #ffffffac;
    mix-blend-mode: soft-light;
    color: black;
    border: none;
}

.login-form .pswd input:focus {
    background: white;
    mix-blend-mode: soft-light;
    color: black;
}

.signin-container .btns {
    display: flex;
    max-width: 80%;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.signin-container .btns button:last-child {
    margin-left: 10px;
}

.signin-container .btns button:first-child {
    margin-right: 10px;
}

.signin-container u {
    position: relative;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signin-container u .need-help {
    position: absolute;
    width: 100%;
    height: 60px;
    background: white;
    color: black;
    top: -70px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    animation: ease-in-out .3s forwards helpAnim;
}

.signin-container u .need-help::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background: transparent;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: white transparent transparent transparent;
    bottom: -9px;
}

/* @keyframes btnHoverAnim {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform:translateY(3px);
    }
} */

@keyframes helpAnim {
    0% {
        width: 100%;
        height: 0;
        color: transparent;
        top: 0;
    }
    90% {
        width: 100%;
        height: 60px;
    }
    100% {
        width: 100%;
        height: 60px;
        color: black;
    }
}
