* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;
    /* background: #bbbbbb25; */
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(92, 92, 92, 0.549);
    border: solid 3.5px transparent;
    cursor: pointer;
}

*::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

*::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 0px;
}

a {
    color: white;
    font-weight: bold;
}

button {
    padding: 0 10px;
    display: flex;
    width: 170px;
    height: 45px;
    font-size: 18px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Comfortaa";
    font-style: normal;

    background: rgba(255, 255, 255, 0.16);
    mix-blend-mode: multiply(90%);
    box-shadow: 1px 2px 20px 2px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;

    transition: all 0.2s;
}

button:hover {
    background: #ffffff4e;
    color: white;
}

button:active {
    transform: translateY(2px);
    background: rgba(255, 255, 255, 0.564);
    color: black;
}

input {
    color: white;

    height: 45px;
    /* margin-left: 20px; */
    font-size: 25px;
    width: 100%;
    /* max-width: 350px; */
    border: none;
    padding: 0 10px;
    border-radius: 12px;

    background: #7c599f63;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: all 0.2s;
}

input::-webkit-input-placeholder {
    color: rgb(192, 192, 192);
}

input:hover {
    background: #a17ac85e;
    color: rgb(212, 212, 212);
    border: none;
}

input:focus {
    background: #d2d2d2;
    color: rgb(70, 70, 70);
}

input:hover::-webkit-input-placeholder {
    color: rgb(212, 212, 212);
}

input:focus::-webkit-input-placeholder {
    color: rgb(70, 70, 70);
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Comfortaa", cursive;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    display: grid;
}

.version {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.551);
}

.App {
    height: 100%;
    width: 100%;
    background: #000000;
    color: #ffffff;
    display: flex;
    overflow-x: hidden;
    background: url(./img/bg.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    filter: brightness(100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-attachment: fixed;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}

.logo-wrapper {
    position: relative;
}

.logo-wrapper .event {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 33px;
    right: 22px;
    animation: flowerRotate infinite 5s linear;
}

.logo {
    position: relative;
    width: 150px;
    transition: transform .3s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container {
    min-height: 100%;
    width: 100%;
    max-width: 1600px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    will-change: opacity;
    @supports (-webkit-touch-callout: none) {
            background: none;
      }
}

.blurofill {
    position: relative;
    max-width: 620px;
    width: 100%;
    height: fit-content;
    background: inherit;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.2);
}

.blurofill::before {
    position: absolute;
    overflow: hidden;
    filter: blur(20px);
    content: " ";
    width: 130%;
    height: 130%;
    top: -45px;
    left: -45px;
    right: 0;
    bottom: 0;
    background: inherit;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translate(-20px, 0); */
  }
  to {
    opacity: 1;
    /* transform: translate(0px, 0px); */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* transform: translate(0px, 0px); */
  }
  to {
    /* transform: translate(-20px, 0); */
    opacity: 0;
  }
}

@keyframes flowerRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .logo:hover {
        cursor: pointer;
        transform: scale(1);
    }
    .logo:active {
        transform: scale(0.9);
    }
}
