* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Comfortaa", cursive;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.version {
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 999;
    color: rgba(255, 255, 255, 0.551);
}

.App {
    height: 100%;
    width: 100%;
    background: #180625;
    color: #ffffff;
    display: flex;
    overflow-x: hidden;
    background: url(./img/bg.jpg);
    background-size: cover;
    object-fit: cover;
    filter: brightness(98%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-attachment: fixed;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-wrapper {
    position: relative;
}

.logo {
    position: relative;
    width: 150px;
}

.logo:hover {
    cursor: pointer;
}

.santa {
    position: absolute;

    width: 50px;
    height: 50px;

    top: 30px;
    right: 20px;

    cursor: pointer;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    position: relative;

    display: flex;
    align-items: center;
}
